<%- include('../includes/head.ejs') %>
<meta name="csrf-token" content="<%= csrfToken %>">
<link rel="stylesheet" href="/css/admin/addProduct.css">
</head>

<body>
    <%- include('../includes/navigation-admin.ejs') %>

    <main>
        <% if (path === '/admin/add-product') { %>
        <% if (errorMessage) { %>
        <div class="user-message_error">
            <p><%= errorMessage %></p>
        </div>
        <% } %>
        <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <legend>New product</legend>
            <div>
                <h2>Выберите категорию:</h2>
                <select name="category" id="category">
                    <option value="artworks">Artworks</option>
                    <option value="photos">Photos</option>
                    <option value="sculptures">Sculptures</option>
                </select>
            </div>
            <input type="text" name="title" id="title" placeholder="Title">
            <input type="number" name="price" id="price" min="1" placeholder="Price">
            <div class="measureSystem">
                <label>Укажите размер:</label>
                <select name="measureSystem" id="measureSystem">
                    <option value="cm.">Сentimeters</option>
                    <option value="m.">Meters</option>
                </select>
                <input type="number" name="width" id="width" placeholder="Width">
                <input type="number" name="height" id="height" placeholder="Height">
            </div>
            <div class="author">
                <label>Укажите автора:</label>
                <input type="text" name="firstname" id="firstName" placeholder="First Name">
                <input type="text" name="secondname" id="secondName" placeholder="Second Name">
                <input type="text" name="link" id="link" placeholder="Link">
            </div>
            <div class="image">
                <label>Выберите изображение:</label>
                <input type="file" name="image" id="image">
            </div>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Сохранить</button>
        </form>
        <<<<<<< HEAD <% } %> </div>=======<% } else { %> <% if (errorMessage) { %> <div class="user-message_error">
            <p><%= errorMessage %></p>
            </div>
            <% } %>
            <p><%= product %></p>
            <form action="/admin/edit-product" method="POST" enctype="multipart/form-data">
                <legend><%= product.title %></legend>
                <div>
                    <h2>Выберите категорию:</h2>
                    <select name="category" id="category">
                        <% if (product.category === 'artworks') { %>
                        <option value="artworks" selected>Artworks</option>
                        <% } else { %>
                        <option value="artworks">Artworks</option>
                        <% } %>
                        <% if (product.category === 'photos') { %>
                        <option value="photos" selected>Photos</option>
                        <% } else { %>
                        <option value="photos">Photos</option>
                        <% } %>
                        <% if (product.category === 'sculptures') { %>
                        <option value="sculptures" selected>Sculptures</option>
                        <% } else { %>
                        <option value="sculptures">Sculptures</option>
                        <% } %>
                    </select>
                </div>
                <input type="text" name="title" id="title" value="<%= product.title %>" placeholder="Title">
                <input type="number" name="price" id="price" value="<%= product.price %>" min="1" placeholder="Price">
                <div>
                    <select name="measureSystem" id="measureSystem">
                        <% if (product.parameters.measureSystem === 'cm.') { %>
                        <option value="cm." selected>Сentimeters</option>
                        <% } else { %>
                        <option value="cm.">Сentimeters</option>
                        <% } %>
                        <% if (product.parameters.measureSystem === 'm.') { %>
                        <option value="m." selected>Meters</option>
                        <% } else { %>
                        <option value="m.">Meters</option>
                        <% } %>
                    </select>
                    <input type="number" name="width" id="width" value="<%= product.parameters.width %>"
                        placeholder="Width">
                    <input type="number" name="height" id="height" value="<%= product.parameters.height %>"
                        placeholder="Height">
                </div>
                <div>
                    <input type="text" name="firstName" id="firstName" value="<%= product.author.fullName.firstName %>"
                        placeholder="First Name">
                    <input type="text" name="lastName" id="lastName" value="<%= product.author.fullName.lastName %>"
                        placeholder="Last Name">
                    <input type="text" name="link" id="link" value="<%= product.author.link %>" placeholder="Link">
                </div>
                <input type="file" name="image" id="image">
                <textarea name="description" id="description" cols="30" rows="10"
                    placeholder="Description"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Сохранить</button>
            </form>
            <% } %>
            >>>>>>> f6039c7dcb984e6f4d2c071044bc8e19233e21c2
    </main>

    <%- include('../includes/end.ejs') %>