<header>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                HOME-STORY
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            <a class="<%= path === '/shop' ? 'active' : '' %>" href="/shop">Магазин</a>
            <a class="<%= path === '/useful-tips' ? 'active' : '' %>" href="/useful-tips">Полезные советы</a>
            <a class="<%= path === '/about-me' ? 'active' : '' %>" href="/about-me">Обо мне</a>
            <a class="<%= path === '/studio-rent' ? 'active' : '' %>" href="/studio-rent">Аренда студии</a>
            <a class="<%= path === '/contacts' ? 'active' : '' %>" href="/contacts">Контакты</a>
            <% if (!isAuthenticated) { %>
                <a class="<%= path === '/log-in' ? 'active' : '' %>" href="/log-in">Вход</a>
                <a class="<%= path === '/sign-up' ? 'active' : '' %>" href="/sign-up">Регистрация</a>
            <% } else { %>
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"><i class="fas fa-shopping-cart"></i></a>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
                </form>
            <% } %>
        </div>
    </div>
</header>