<header>
    <div class="nav">
        <div class="nav-header">
            <div class="logo">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/"><span>Art108</span></a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            <a class="<%= path === '/artworks' ? 'active' : '' %>" href="/artworks">Artworks</a>
            <a class="<%= path === '/photos' ? 'active' : '' %>" href="/photos">Photos</a>
            <a class="<%= path === '/sculptures' ? 'active' : '' %>" href="/sculptures">Sculptures</a>
            <a class="<%= path === '/articles' ? 'active' : '' %>" href="/articles">Articles</a>
            <a class="<%= path === '/contacts' ? 'active' : '' %>" href="/contacts">Contacts</a>
            <% if (!isAuthenticated) { %>
            <a class="<%= path === '/log-in' ? 'active' : '' %>" href="/log-in">
                <div> </div>
            </a>
            <% } else { %>
            <a class="cart" href="/cart">
                <div class="cart-icon"></div>
            </a>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">
                    <div></div>
                </button>
            </form>
            <% if (isAdmin) { %>
            <a href="/admin/products-management" class="pm-link"><i class="fas fa-sliders-h"></i></a>
            <% } %>
            <% } %>
        </div>
    </div>
</header>