<div class="container">
    <%if(false){%>
    <% for(let slide of slides) {%>

    <div class="slide">
        <!-- save this class -->
        <div class="artworks-slide">
            <div class="nav">
                <div class="nav-header">
                    <div class="logo">
                        <a class="<%= path === '/' ? 'active' : '' %>" href="/"><span>Logo</span></a>
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <div class="nav-links">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                    <a class="<%= path === '/shop' ? 'active' : '' %>" href="/artworks">Artworks</a>
                    <a class="<%= path === '/useful-tips' ? 'active' : '' %>" href="/photoes">Photoes</a>
                    <a class="<%= path === '/about-me' ? 'active' : '' %>" href="/sculptures">Sculptures</a>
                    <a class="<%= path === '/contacts' ? 'active' : '' %>" href="/master-classes">Master classes</a>
                    <a class="<%= path === '/contacts' ? 'active' : '' %>" href="/contacts">Contacts</a>
                    <% if (!isAuthenticated) { %>
                    <a class="<%= path === '/log-in' ? 'active' : '' %>" href="/log-in">
                        <div></div>
                    </a>
                    <% } else { %>
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"><i
                            class="fas fa-shopping-cart"></i></a>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit"><i class="fas fa-sign-out-alt"></i></button>
                    </form>
                    <% } %>
                </div>
            </div>
            <!-- save this buttons img paths -->
            <button class="previous" onclick="plusDivs(-1)"><img src="/images/icons/dark-arrow.png"
                    alt="Previous"></button>
            <button class="next" onclick="plusDivs(1)"><img src="/images/icons/bright-arrow.png" alt="Next"></button>

            <div class="slide-content">
                <!-- save this img path -->
                <img src="/images/artwork-example.jpg">
                <div class="info">
                    <h1>Artworks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt sem sit amet mi
                        dapibus,
                        vitae pharetra ipsum
                        scelerisque. Sed suscipit accumsan tincidunt. Vestibulum magna est, vulputate vitae mi tempor,
                        finibus elementum nisl.
                        Nulla ipsum massa, dapibus in ante ac, convallis porttitor turpis. Etiam vel nisl a mauris
                        tempus
                        vestibulum in vitae
                        leo. Suspendisse auctor rutrum risus sed vehicula. Curabitur pellentesque nibh nec pellentesque
                        venenatis. Donec
                        placerat tempus tortor, ac suscipit eros mollis a.</p>
                    <button>more</button>
                </div>
            </div>
            <div class="social">
                <ul>
                    <!-- save img paths -->
                    <li><a><img src="/images/icons/instagram-i.png"></a></li>
                    <li><a><img src="/images/icons/facebook-i.png"></a></li>
                    <li><a><img src="/images/icons/youtube-i.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } %>
<%}else{%>
<%- include('../includes/first-slide.ejs') %>
<%- include('../includes/second-slide.ejs') %>
<%- include('../includes/third-slide.ejs') %>
<%}%>
</div>