<%- include('../includes/head.ejs') %>
<meta name="csrf-token" content="<%= csrfToken %>">
<link rel="stylesheet" href="/css/shop/cart.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
            <div class="cart">
                <% if (products.length > 0) { %>
                <h1>Ваш заказ:</h1>
                <div class="products">
                    <% products.forEach(product => { %>
                    <div class="product">
                        <div class="product__content">
                            <div class="product__image">
                                <img src="/<%= product.productId.imageUrl %>" alt="<%= product.productId.title %>">
                            </div>
                            <div class="product__info">
                                <p><%= product.productId.title %> > <%= product.productId.category.secondary %></h2>
                                    <% if (product.size) { %>
                                    <p><%= product.size %> <%= product.productId.measureSystem %></p>
                                    <% } %>
                                    <div class="product__quantity-controller">
                                        <button type="button" onclick="decrementQuantity(this)"><i
                                                class="fas fa-minus"></i></button>
                                        <input type="number" id="quantity-controller" name="quantity-controller" min="1"
                                            max="99" step="1" value="<%= product.quantity %>"
                                            oninput="requireSaving(this)">
                                        <button type="button" onclick="incrementQuantity(this)"><i
                                                class="fas fa-plus"></i></button>
                                        <button class="btn hidden" type="button" id="save" onclick="saveQuantity(this)"
                                            data-id="<%= product._id %>" data-quantity="<%= product.quantity %>"
                                            data-price="<%= product.price %>" data-total="<%= product.total %>"
                                            data-saved="true">
                                            <i class="fas fa-save"></i>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div class="product__subtotal-and-delete">
                            <p><span id="product-total"><%= product.total %></span> ₴</p>
                            <button class="btn" type="btn" onclick="removeProductFromCart(this)"
                                data-id="<%= product._id %>" title="Удалить товар из корзины"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <p id="cart-total">Итого: <span id="cart-total-price"><%= cartTotal %></span> ₴</p>
                <div class="cart-controls">
                    <a class="btn" href="/shop">Продолжить покупки</a>
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" id="make-order" type="submit">Оформить заказ</button>
                    </form>
                </div>
                <% } else { %>
                <div class="empty-cart">
                    <h1>Ваша корзина пуста!</h1>
                    <a class="btn" href="/shop">За покупками</a>
                </div>
                <% } %>
            </div>
            <% if (orders.length > 0) { %>
            <h1>Ваши заказы:</h1>
            <div class="orders">
                <% orders.forEach(order => { %>
                <div class="order">
                    <div class="order__header">
                        <h3 title="ID заказа">#<%= order._id %></h3>
                    </div>
                    <div class="order__body">
                        <div class="order__wrapper">
                            <p title="Текущий статус Вашего заказа"><span
                                    class="<%= (order.orderStatus == 'Обрабатывается') ? 'orange' : (order.orderStatus == 'Подтверждён') ? 'yellow' : 'green' %>"><%= order.orderStatus %></span>
                            </p>
                            <button type="button" title="Показать/скрыть заказанные товары"
                                onclick="triggerCheckbox(this)"><i class="fas fa-chevron-down"></i></button>
                        </div>
                        <ul class="order__products">
                            <% for (let product of order.products) { %>
                            <li class="order__product">
                                <div class="order__product-header">
                                    <img src="/<%= product.productId.imageUrl %>" alt="<%= product.productId.title %>">
                                    <p><%= product.productId.title %></p>
                                </div>
                                <hr>
                                <p>Тип: <%= product.productId.category.secondary %></p>
                                <% if (product.size) { %>
                                <p>Объём: <%= product.size %> <%= product.productId.measureSystem%></p>
                                <% } %>
                                <p>Кол-во: <%= product.quantity %> шт.</p>
                                <% if (product.quantity > 1) { %>
                                <p>Цена за штуку: <%= product.price %> ₴</p>
                                <p>Итого: <%= product.total %> ₴</p>
                                <% } else { %>
                                <p>Цена: <%= product.price %> ₴</p>
                                <% } %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="order__footer">
                        <p>Дата: <%= order.date %></p>
                    </div>
                </div>
                <% }) %>
            </div>
            <% } %>
        </div>
    </main>

    <script>

        function decrementQuantity(product) {
            const saveButton = product.parentNode.querySelector('#save');
            const inputField = product.parentNode.querySelector('#quantity-controller');
            const inputValue = Math.floor(product.parentNode.querySelector('#quantity-controller').value);
            const productTotalField = product.parentNode.parentNode.parentNode.parentNode.querySelector('#product-total');
            const productQuantity = product.parentNode.querySelector('#save').dataset.quantity;
            const productPrice = product.parentNode.querySelector('#save').dataset.price;
            const productTotal = product.parentNode.querySelector('#save').dataset.total;
            const cartTotalPriceField = document.querySelector('#cart-total-price');
            const makeOrderButton = document.querySelector('#make-order');

            if (inputValue > 1) {
                inputField.value = +inputValue - 1;
                cartTotalPriceField.innerHTML -= +productPrice;
                productTotalField.innerHTML -= +productPrice;
                if ((inputField.value = +inputValue - 1) != productQuantity) {
                    requireSaving(product);
                } else {
                    saveButton.classList.add('hidden');
                    saveButton.dataset.saved = 'true';
                    if (checkForNotSavedProducts()) {
                        makeOrderButton.classList.remove('disabled');
                        makeOrderButton.disabled = false;
                    };
                };
            };
        };

        function incrementQuantity(product) {
            const saveButton = product.parentNode.querySelector('#save');
            const inputField = product.parentNode.querySelector('#quantity-controller');
            const inputValue = Math.floor(product.parentNode.querySelector('#quantity-controller').value);
            const productTotalField = product.parentNode.parentNode.parentNode.parentNode.querySelector('#product-total');
            const productQuantity = product.parentNode.querySelector('#save').dataset.quantity;
            const productPrice = product.parentNode.querySelector('#save').dataset.price;
            const productTotal = product.parentNode.querySelector('#save').dataset.total;
            const cartTotalPriceField = document.querySelector('#cart-total-price');
            const makeOrderButton = document.querySelector('#make-order');

            if (inputValue < 99) {
                inputField.value = +inputValue + 1;
                productTotalField.innerHTML = +productTotalField.innerHTML + +productPrice;
                cartTotalPriceField.innerHTML = +cartTotalPriceField.innerHTML + +productPrice;
                if ((inputField.value = +inputValue + 1) != productQuantity) {
                    requireSaving(product);
                } else {
                    saveButton.classList.add('hidden');
                    saveButton.dataset.saved = 'true';
                    if (checkForNotSavedProducts()) {
                        makeOrderButton.classList.remove('disabled');
                        makeOrderButton.disabled = false;
                    };
                };
            };
        };

        function requireSaving(product) {
            const saveQuantityButton = product.parentNode.querySelector('#save');
            const makeOrderButton = document.querySelector('#make-order');

            makeOrderButton.classList.add('disabled');
            makeOrderButton.disabled = true;
            saveQuantityButton.classList.remove('hidden');
            saveQuantityButton.dataset.saved = 'false';
        };

        function checkForNotSavedProducts() {
            const unsavedProductsAmount = document.querySelectorAll('[data-saved="false"]').length;

            if (unsavedProductsAmount > 0) {
                return false;
            } else {
                return true;
            };
        };

        function saveQuantity(product) {
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const productQuantity = Math.floor(product.parentNode.querySelector('#quantity-controller').value);
            const inputField = product.parentNode.querySelector('#quantity-controller');
            const productId = product.parentNode.querySelector('#save').dataset.id;
            const productPrice = product.parentNode.querySelector('#save').dataset.price;
            const makeOrderButton = document.querySelector('#make-order');

            inputField.value = productQuantity;
            product.classList.add('hidden');
            product.dataset.saved = 'true';
            product.dataset.total = productQuantity * productPrice;
            product.dataset.quantity = productQuantity;
            if (checkForNotSavedProducts()) {
                makeOrderButton.classList.remove('disabled');
                makeOrderButton.disabled = false;
            };

            $.ajax({
                url: '/cart-change-product-quantity',
                type: 'post',
                data: {
                    productId: productId,
                    quantity: productQuantity,
                },
                headers: {
                    'CSRF-Token': token
                },
                dataType: 'json'
            });
        };

        function removeProductFromCart(product) {
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const productTotal = product.parentNode.querySelector('#product-total').innerHTML;
            const cartTotalPriceField = document.querySelector('#cart-total-price');
            const makeOrderButton = document.querySelector('#make-order');
            const container = document.querySelector('.container');
            const productId = product.dataset.id;
            const products = document.querySelector('.products');
            const productsLength = products.children.length;

            if (productsLength > 1) {
                cartTotalPriceField.innerHTML -= productTotal;
                product.parentNode.parentNode.remove();
                if (checkForNotSavedProducts()) {
                    makeOrderButton.classList.remove('disabled');
                    makeOrderButton.disabled = false;
                };
            } else {
                $('.cart').empty();
                $('.cart').append(`
                    <div class="empty-cart">
                        <h1>Ваша корзина пуста!</h1>
                        <a class="btn" href="/shop">За покупками</a>
                    </div>
                `);
            };

            $.ajax({
                url: '/cart-delete-product',
                type: 'post',
                data: {
                    productId: productId
                },
                headers: {
                    'CSRF-Token': token
                },
                dataType: 'json'
            });
        };

        function triggerCheckbox(element) {
            const ul = element.parentNode.parentNode.querySelector('.order__products');

            if (ul.style.maxHeight) {
                ul.style.maxHeight = null;
                element.innerHTML = '<i class="fas fa-chevron-down"></i>';
            } else {
                ul.style.maxHeight = ul.scrollHeight + 'px';
                element.innerHTML = '<i class="fas fa-chevron-up"></i>';
            };
        };

    </script>

    <%- include('../includes/end.ejs') %>