<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main-page/index.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <%- include('../includes/slider.ejs') %>
    </main>

    <section class="recomendations">
        <div class="white-bg-rec"></div>
        <div class="container">
            <div class="short-desc">
                <p>Модный московский фотограф Ирина Воителева и яркая молодая авангардная художница Юлия Хмарюк,
                    многократные
                    участницы
                    биеннале современного искусства, их работы выкуплены частными коллекционерами в России, Англии,
                    Японии,
                    Норвегии,
                    Швеции, Грузии. Художницы работают в стиле абстрактного экспрессионизма, соединяя краски, скульптуру
                    и фото,
                    получают
                    новые формы и смысли. Такие предметы искусства будут ярким и модным акцентом в любом вашем
                    интерьере, от
                    дома в
                    классическом стиле, до бизнес- пространства, холла отеля и аппартаментов в стиле лофт. Создаем
                    предметы
                    искусства также
                    по спец- заказу, вкладывая смыслы и энергии, близкие заказчику. Готовы к самым смелым экспериментам,
                    раскрашиваем стены
                    и полы.
                </p>
            </div>

            <h3>Наши рекомендации</h3>

            <div class="rec-block">
                <div><img src="/images/img/recomendations-1.jpg" alt="product name">
                    <div class="info">
                        <h4>Product name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id quam fermentum,
                            volutpat velit nec, malesuada
                            urna. Praesent sodales quam eu accumsan accumsan. Proin efficitur, orci eu porttitor
                            porta,
                            sapien turpis porttitor
                            neque, ullamcorper laoreet sapien enim ut mauris. Pellentesque pharetra, odio non
                            iaculis
                            gravida.</p>
                        <button>check out</button>
                    </div>
                </div>
                <div><img src="/images/img/recomendations-2.jpg" alt="product name">
                    <div class="info">
                        <h4>Product name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id quam fermentum,
                            volutpat velit nec, malesuada
                            urna. Praesent sodales quam eu accumsan accumsan. Proin efficitur, orci eu porttitor
                            porta,
                            sapien turpis porttitor
                            neque, ullamcorper laoreet sapien enim ut mauris. Pellentesque pharetra, odio non
                            iaculis
                            gravida.</p>
                        <button>check out</button>
                    </div>
                </div>
                <div><img src="/images/img/recomendations-3.jpg" alt="product name">
                    <div class="info">
                        <h4>Product name</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id quam fermentum,
                            volutpat velit nec, malesuada
                            urna. Praesent sodales quam eu accumsan accumsan. Proin efficitur, orci eu porttitor
                            porta,
                            sapien turpis porttitor
                            neque, ullamcorper laoreet sapien enim ut mauris. Pellentesque pharetra, odio non
                            iaculis
                            gravida.</p>
                        <button>check out</button>
                    </div>
                </div>
            </div>
    </section>

    <section class="stats">
        <div class="container">
            <div class="info">
                <ul>
                    <li>
                        <span>Отзывов</span>
                        <p class="num">100000</p>
                    </li>
                    <li>
                        <span>Продано работ</span>
                        <p class="num">100000</p>
                    </li>
                    <li>
                        <span>Новых работ <br>
                            на этой неделе</span>
                        <p class="num">100000</p>
                    </li>
                    <li>
                        <span>Продано на <br>
                            этой неделе</span>
                        <p class="num">100000</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="how-we-do-art">
        <div class="white-bg-hwda"></div>
        <div class="container">
            <h3>Как мы делаем искусство</h3>
            <div class="hwda-block">
                <div class="hwda-cards">
                    <div class="hwda-card">
                        <img src="/images/img/artworks-hwda.jpg" alt="">
                        <h4>Картины</h4>
                        <p>Наши картины- это отражение внутреннего состояния художника, той палитры эмоций, 
                            чем наполнены наши сердца. Чаще всего - это яркие, радостные абстракции, в которых 
                            зритель увидит созвучное ему состояние, увидит собственные образы и нырнет в этот красочный мир.</p>
                    </div>
                    <div class="hwda-card">
                        <img src="/images/img/photos-hwda.jpg" alt="">
                        <h4>Фотографии</h4>
                        <p>Лучшим форматом для украшения интерьера является абстрактная фотография, она создает 
                            настроение и возможность зрителю по-фантазировать, по-вглядываться, разгадывая фотографию, как загадку</p>
                    </div>
                    <div class="hwda-card">
                        <img src="/images/img/sculptures-hwda.jpg" alt="">
                        <h4>Скульптуры</h4>
                        <p>Мы берем за основу классические форму, привнося новое прочтение, добавляя стекло, 
                            краску и другие спонтанные материалы. Так, на базе прекрасной формы получается яркий, 
                            удивляющий арт-обьект. смело творим, как это делают дети.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <h3>Отзывы</h3>
            <div id="wpac-comment"></div>
            <script type="text/javascript">
                wpac_init = window.wpac_init || [];
                wpac_init.push({ widget: 'Comment', id: 20092 });
                (function () {
                    if ('WIDGETPACK_LOADED' in window) return;
                    WIDGETPACK_LOADED = true;
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = 'https://embed.widgetpack.com/widget.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
        </div>
    </section>

    <section class="contacts">
        <div class="container">
            
            <%- include('../main-page/contacts.ejs') %>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2244.252709430922!2d37.637306245507816!3d55.771482711264255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a6563aa6dcd%3A0x8577a7f8cd7c57df!2sBol&#39;shaya%20Sukharevskaya%20Ploshchad&#39;%2C%2016%2F18%2C%20Moskva%2C%20Russia%2C%20129090!5e0!3m2!1sen!2sua!4v1568728182620!5m2!1sen!2sua"
                width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>

    <%- include('../includes/end.ejs') %>